<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpm.com.hulcnc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/parinaam"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/parinaam"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="intelre.cpm.com.hulcnc.dailyentry.QuizSummaryActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_new_customer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.NewCustomerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_new_customer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.CustomerDataActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_customer_data"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.SalesReportExpendable"
            android:label="@string/title_activity_sales_report_expendable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.SalesReportActivity"
            android:label="@string/title_activity_sales_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="intelre.cpm.com.hulcnc.SplashScreenActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <service
            android:name=".uploadimagesservice.BackgroundService"
            android:enabled="true" />
        -->
        <activity
            android:name="intelre.cpm.com.hulcnc.MainMenuActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.ServiceActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.download.DownloadActivity"
            android:label="@string/title_activity_download"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.RspDetailActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_rsp_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.autoupdate.AutoUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="intelre.cpm.com.hulcnc.LoginActivty"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.StoreListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.StoreimageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.StoreProfileActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.StoreEntryActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.StockAvailabilityActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.CheckoutActivty"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.NonWorkingReasonActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.upload.UploadDataActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.upload.PreviousDataUploadActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.GeoTag.GeoTagStoreList"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_geo_tag_store_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.GeoTag.GeoTaggingActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_geo_tagging"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.JourneyPlanSearchActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_journey_plan_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCs2VZqLl4OgStAraUHr8012cUc7vf3Uo8" />

        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.RetailerListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_retailer_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.CustomerInfoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_customer_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.AddCustomerInfoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_add_customer_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.PerformanceActivity"
            android:label="@string/title_activity_performance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.SelectCategoryActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_select_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.SalesEntryActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_sales_entry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="intelre.cpm.com.hulcnc.dailyentry.CategoryList"
            android:label="@string/title_activity_category_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>